# Terraform local directories and files
.terraform/
.terraform.lock.hcl


terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup

*.tfvars
*.tfvars.json
terraform.tfvars
terraform.tfvars.json


.terraformrc
terraform.rc
/.terraform
/terraform.tfstate
/terraform.tfstate.backup